<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg">

<div class="pic"><img src="/static/img/manuela.jpeg"></div>

<div class="nome">
    <h1 id="title">Manu Dias</h1>
</div>

<header>
<div  class="apresentacao"> <p>Leio baralho cigano e sempre me interessei pelo universo esotérico, tenho métodos especificos e
preços acessiveis, entre em contato comigo para marcar consulta ou tirar dúvidas</p></div>
</header>

<nav class="mainmenu">
    <ul>
        <li class="menuitem">
            <a href="https://wa.me/+5548999062911/? text=textour" target="_blank">Contato</a>
        </li>

        <li class="menuitem">
            <a href="https://www.instagram.com/manuddsch/" target="_blank"> Acompanhe meu trabalho</a>
        </li>

    </ul>
</nav>

<footer>
    <p>© Todos os direitos reservados  • 2023</p>
</footer>
</body>
</html>